    body {
        background-image:linear-gradient(#46879B, #065a74) ;
        margin: 0;
    }
    
    header {
        background-color: #004A61;
        /* position: fixed; */
        width: 100%;
        left: 0;
        margin-bottom: 85px;
        /* bottom: 70%; */
    }
    
    #sight_logo {
        width: 200px;
        padding-top: 20px;
        padding-left: 20px;
    }
    
    nav {
        background-color: #012d3a;
        width: 100%;
        height: 65px;
    }
    
    nav ul li {
        display: inline-block;
        padding: 20px;
        font-size: 20px;
        position: relative;
    }
    
    nav ul a {
        text-decoration: none;
        color: whitesmoke;
        padding: 10px;
        border-radius: 5px;
    }

    nav ul a:hover{
        color: #258381;
        background-color: #004A61;
    }

    nav ul li ul{
        /* border: 2px solid red; */
        display: none;
        padding: 10px;
        margin-top: 10px;
        position: absolute;
        background-color: #012d3a;
        border-radius: 0px 0px 5px 5px;
    }

    nav ul li ul li{
        padding: 10px;
    }

    nav ul li:hover ul {
        display: block;
    }
    
    h1 {
        color: whitesmoke;
        font-size: 50px;
        text-align: center;
    }
    
    h2 {
        color: whitesmoke;
        font-size: 30px;
        text-align: center;
    }

    h3 {
        /* border: 2px solid red; */
        color: whitesmoke;
        font-size: 23px;
        margin: 10px;
    }
    
    p {
        color: whitesmoke;
        font-size: 18px;
        line-height: 1.5;
        text-indent: 50px;
    }

    p::first-line{
        font-size: 20px;
        font-weight: bold;
    }
    
    #center_home_covers {
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-bottom: 50px;
    }

    @media only screen and (max-width: 1000px) {
        #center_home_covers {
            flex-flow: row wrap;
        }
    }

    .image_container{
        /* border: 2px solid red; */
        position: relative;
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .home_covers {
        /* border: 2px solid red; */
        width: 300px;
        height: 300px;

    }

    .overlay{
        /* border: 2px solid red; */
        position:absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #c3f1f0;
    }

    .text {
        /* border: 2px solid red; */
        color: #012d3a;
        font-size: 40px;
        margin-top: 120px;
        padding-top: 10px;
        font-weight: bold;
        text-align: center;
    }

    .image_container:hover .overlay {
        opacity: .9;
        cursor: pointer;
    }
    
    
    /* .page_titles {
        border: 2px solid red;
        width: 57%;
        margin: auto;
        height: 1000px;
    } */
    
    /* .page_pictures {
        border: 2px solid red;
        float: left;
    }
     */

         /* #page_contents div {
        display: inline-block;
        justify-content: center;
    } */

    .page_contents {
        /* border: 2px solid red; */
        margin: 30px 20px;
    }


    .page_pictures {
        margin: 20px 30px;
        /* border: 2px solid red; */
        width: 500px;
        float: left;
    }

    hr {
        border: 2px solid #0e556b;
        width: 50%;
        border-radius: 3px;
    }

    #video {
        float: right;
        margin: 10px 20px;
    }

    label{
        font-size: 18px;
    }

    input[type=text], textarea {
        width: 95%;
        margin-top: 10px;
        margin-bottom: 16px;
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
    }

    .container {
        /* border: 2px solid red; */
        width: 1000px;
        margin: 20px auto 60px;
        padding: 20px;
        background-image:linear-gradient(#46879B 60%, #0d6d8a);
        box-shadow: 0px 20px 30px 20px #004A61;
        border-radius: 10px;
    }

    button {
        padding: 10px 20px;
        margin: 10px 25px 30px ;
        border-radius: 10px;
        font-size: 16px;
        font-weight: bold;
    }

    .btn {
        text-align: right;
    }

    .map {
        margin: auto 50px;
        box-shadow: -5px 20px 25px 20px #012d3a;
    }

    #map_container {
        /* border: 2px solid red; */
        width: 1000px;
        margin: 20px auto;
    }

    p a {
        color: limegreen;
        background-color: black;
        padding: 5px;
        border-radius: 5px;
    }

    p a:hover {
        color: #63c7c5;
        background-color: #012d3a;
    }

    footer {
        /* display: block; */
        /* position: absolute; */
        background-color: #012d3a;
        width: 100%;
        bottom: 0;
        height: 65px;
        text-align: right;
    }

    footer a{
        color: #fff;
    }

    .fa-brands{
        margin-right: 15px;
    }